.card {
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    width: 30%;
    display: grid;
    grid-row-gap: 15px;
    grid-template-rows: auto auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "file"
                         "content"
                         "vote";
    border-image: linear-gradient(
        45deg,
        hsl(0, 100%, 64%),
        hsl(46, 100%, 64%),
        hsl(61, 100%, 64%),
        hsl(130, 100%, 64%),
        hsl(183, 100%, 64%),
        hsl(244, 100%, 64%),
        hsl(295, 100%, 64%)
    );
    border-style: solid;
    border-width: 5px;
    border-image-slice: 3;
    // https://codepen.io/nohoid/pen/kIfto
}


.card:hover {
    border-image: linear-gradient(
        225deg,
        hsl(0, 100%, 64%),
        hsl(46, 100%, 64%),
        hsl(61, 100%, 64%),
        hsl(130, 100%, 64%),
        hsl(183, 100%, 64%),
        hsl(244, 100%, 64%),
        hsl(295, 100%, 64%)
    );

    border-image-slice: 3;
}


.image {
    box-sizing: border-box;
    padding: 0 10px;
    max-width: 100%;
    max-height: 40vh;
    margin: 0 auto;
    display: block;
    grid-area: file;
}

.message {
    min-width: 200px;
    grid-area: content;
    word-wrap: anywhere;
}
.pin-text {
    font-weight: 600;
}

.vote-button {
    font-family: balboa;
    font-size: 24px;
    cursor: pointer;
    grid-area: vote;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 100%, 64%);
    border-radius: 3px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    .image {
        max-height: 20vh;
    }
}