@import url("https://use.typekit.net/vdu3oco.css");
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: hero-new, arial, sans-serif;
	font-weight: 400;
	color: #111;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Space Mono", monospace;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
